<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.bs.dao.NUserDao">
	<insert id="regist"
		parameterType="cn.bs.entity.NUser">
		insert into users
(uName,pwd,phone,mail,address,major,userType) 
values
(#{uName},#{pwd},#{phone},#{mail},#{address},#{major},#{userType})
	</insert>
	
	<!-- <delete id="deleteOrder" parameterType="int">
	    delete 
	    from users 
	    where 
	    id =#{id}
	</delete> -->
	
	<update id="updateInfo" parameterType="cn.bs.entity.NUser">
	    update 
	    users 
	    set uName=#{uName}, pwd = #{pwd},phone = #{phone},mail = #{mail},
	    phone = #{phone},
	   	address = #{address},
	    major = #{major},userType = #{userType} where id=#{id}
	</update>
	
	<select id="findByName"	
		parameterType="string"
		resultType="cn.bs.entity.NUser">
		select *
			from
		users
		where
			uName = #{uName}
	</select>
	<select id="findUsers"	
		resultType="list">
		select *
			from
		users
		where
			major = #{major}
	</select>
		
</mapper>
